In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
import pandas as pd

In [5]:
# create dummy variables from our dataset
pd.get_dummies(tips, drop_first=True)

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,1,0,0,1,1
1,10.34,1.66,3,0,1,0,0,1,1
2,21.01,3.50,3,0,1,0,0,1,1
3,23.68,3.31,2,0,1,0,0,1,1
4,24.59,3.61,4,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,0,1,0,1,0,1
240,27.18,2.00,2,1,0,0,1,0,1
241,22.67,2.00,2,0,0,0,1,0,1
242,17.82,1.75,2,0,1,0,1,0,1
243,18.78,3.00,2,1,1,0,0,0,1

In [6]:
from sklearn import linear_model

In [7]:
# 1. create the model object
lr = linear_model.LinearRegression()

In [8]:
# 2. fit the model object
lr.fit(X=tips[["total_bill", "size"]], y=tips["tip"])

LinearRegression()

In [9]:
# look at the coefficients
lr.coef_

array([0.09271334, 0.19259779])

In [10]:
# look at the intercept
lr.intercept_

0.6689447408125027

In [11]:
# the model from the model output
# tip = 0.67 + totalbill*0.09 + size*0.19

In [12]:
tips_dummy = pd.get_dummies(tips, drop_first=True)[["tip", "total_bill", "smoker_No"]]

In [13]:
tips_dummy

      tip  total_bill  smoker_No
0    1.01       16.99          1
1    1.66       10.34          1
2    3.50       21.01          1
3    3.31       23.68          1
4    3.61       24.59          1
..    ...         ...        ...
239  5.92       29.03          1
240  2.00       27.18          0
241  2.00       22.67          0
242  1.75       17.82          1
243  3.00       18.78          1

[244 rows x 3 columns]

In [14]:
lr2 = linear_model.LinearRegression()

In [15]:
lr2.fit(X=tips_dummy.iloc[:, 1:], y=tips_dummy["tip"])

LinearRegression()

In [16]:
lr2.coef_

array([0.10572239, 0.14892431])

In [17]:
lr2.intercept_

0.8142993000217924

In [18]:
# tip = 0.81 + totalbill*0.10 + smokeing*0.14

In [19]:
# fake "new data"
new_data = tips_dummy[["total_bill", "smoker_No"]].tail() # not really new data

In [20]:
new_data

     total_bill  smoker_No
239       29.03          1
240       27.18          0
241       22.67          0
242       17.82          1
243       18.78          1

In [21]:
# use the model to give predicted tip values
new_data["predicted_tips"] = lr2.predict(new_data)

In [22]:
new_data

     total_bill  smoker_No  predicted_tips
239       29.03          1        4.032345
240       27.18          0        3.687834
241       22.67          0        3.211026
242       17.82          1        2.847197
243       18.78          1        2.948690

In [23]:
# compare fitted model values with "actual" values
# note the predictions are much better than they seem since
# the model didn't actually predict on "new data"
tips_dummy.tail()

      tip  total_bill  smoker_No
239  5.92       29.03          1
240  2.00       27.18          0
241  2.00       22.67          0
242  1.75       17.82          1
243  3.00       18.78          1